---
title: Generic Page
description: Is it a page like many others, or are many pages like it?
keyword: test
type: website
---
<!DOCTYPE html>
{% include "head-website.njk" %}
<!-- Start Body -->
<body>
    {% include "nav.njk" %}
    <main>
        {{content | safe}}
    </main>
    {% include "footer.njk" %}
</body>
<!-- End Body -->
</html>
